<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.peakey.ggj2017.waveyboat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".TitlePage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HighScores" android:screenOrientation="landscape"></activity>
        <activity android:name=".WaveyBoatActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".Credits" android:screenOrientation="landscape"></activity>
        <activity android:name=".GameOver" android:screenOrientation="landscape"></activity>
    </application>
</manifest>